@import '../../utils/variables';

.project-showcase-container {
  padding: 20px;
  padding-top: 100px;

  .project-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $width-main;
    margin: auto;
    position: relative;

    .project-showcase__image-container {
      width: 100%;
      height: 54vw;
      max-height: 440px;
      overflow: hidden;

      .project-showcase__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // border-radius: 8px;
        // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.18);
        position: relative;
        transition: transform 200ms ease-out;
        transform: scale(1.1);
      }
    }

    .project-showcase__content {
      max-width: 100%;
      margin: auto;
      padding-bottom: 3px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      margin-bottom: 30px;
      z-index: 1;
      color: inherit;
      text-decoration: none;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);

      p,
      h2 {
        margin: 0;
        width: max-content;
      }

      p {
        position: relative;
        bottom: -6px;
      }

      .project-showcase__line {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 1px;
        height: 60px;
        background-color: $text-primary;
        transition: transform 200ms ease-out;
        transform-origin: top;
        transform: translateY(100%) scaleY(1);
        border-radius: 0;
      }

      .project-showcase__underline {
        height: 1px;
        width: 100%;
        background-color: $text-primary;
        transition: transform 200ms 100ms ease-out;
        transform: translateY(3px) scaleX(0);
        display: block;
      }
    }

    .project-showcase__link {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px;
    }
  }
}

body.js-no-touch {
  .project-showcase-container {
    padding-bottom: 60px;

    .project-showcase__link {
      display: none;
    }

    .project-showcase:hover {
      .project-showcase__image-container {
        .project-showcase__image {
          transform: scale(1);
        }
      }

      .project-showcase__content {
        .project-showcase__underline {
          transform: translateY(3px) scaleX(1);
        }

        .project-showcase__line {
          transform: translateY(100%) scaleY(0);
        }
      }
    }
  }
}

#other-projects {
  padding: 20px 20px;
  padding-bottom: 80px;
  margin-top: 20px;

  h1 {
    margin: 10px 0;
  }

  .other-projects__inner {
    width: 100%;
    max-width: $width-main10;
    margin: auto;
  }

  .github-projects {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .github-project {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    background-color: $background-secondary;

    a {
      color: $primary-color;
      text-decoration: none;
      margin: 0;

      h3 {
        margin: 0;
      }
    }

    .github-project__description {
      margin: 0;
      margin-top: 10px;
      color: $text-primary;
    }

    .github-project__subjects {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .github-project__subject {
        display: block;
        font-size: 0.8em;
        opacity: 0.8;
        margin-top: 14px;
        margin-right: 20px;
        border-radius: 200px;
        padding: 4px 0;
      }
    }
  }
}

body.js-no-touch {
  #other-projects {
    .github-project {
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .project-showcase-container {
    padding-top: 140px;
    margin-bottom: 60px;
  }

  #other-projects {
    padding-top: 140px;
    padding-bottom: 280px;

    .other-projects__inner {
      h1 {
        padding: 0 10px;
      }
    }

    .github-projects {
      flex-direction: row;
    }

    .github-project {
      margin: 10px;
    }
  }
}
