@import '../../utils/variables';

#contact {
  width: 100%;
  padding: 10px;
}

.contact__wrapper {
  background-color: $primary-color-light;
  padding: 0 14px;
}

.contact__inner {
  padding: 200px 0;
  max-width: $width-main;
  margin: auto;

  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 2.6em;
  }

  a {
    color: $primary-color;
  }
}
