$text: #333;
$textLight: #333333cc;
$navigationBackground: #ffffff;
$navigationSecondaryBackground: #e2e2e2;
$navigationColor: #333;

// colors
$blue: #1159d4;
$purple: #5355c7;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

// global
main {
  padding-top: 120px;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
}

a {
  color: $blue;
  text-decoration: none;
}

body.js-no-touch a:hover {
  text-decoration: underline;
}

p {
  color: $textLight;
}

.button-1 {
  color: $blue;
  text-decoration: none;
  font-size: 1em;
  transition: box-shadow 100ms ease-out;
}

.button-1:hover {
  // box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.4em;
  }
}

// navigation
#navigation {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: $navigationColor;

  .navigation__inner {
    height: 100%;
    width: 100%;
    display: flex;
    max-width: 1000px;
    margin: auto;

    .navigation__label {
      padding: 0 12px;
      color: $navigationColor;
    }

    .navigation__bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 100%;
      z-index: 1;
      background-color: $navigationBackground;

      p {
        margin: 0;
      }

      .hamburger {
        height: 50px;
        width: 50px;
        padding: 12px;
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        .hamburger__line--top,
        .hamburger__line--bottom {
          position: absolute;
          left: 12px;
          height: 1px;
          width: 50%;
          background-color: $navigationColor;
          transition: transform 200ms ease-out;
        }

        .hamburger__line--top {
          top: 50%;
          transform: translateY(-5px);
        }

        .hamburger__line--bottom {
          bottom: 50%;
          transform: translateY(5px);
        }
      }

      .hamburger.active {
        .hamburger__line--top {
          top: 50%;
          transform: rotate(45deg);
        }

        .hamburger__line--bottom {
          bottom: 50%;
          transform: rotate(-45deg);
        }
      }
    }

    .navigation__menu {
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0 30px;
      background-color: $navigationBackground;
      list-style-type: none;
      transform: translateY(-100%);
      transition: transform 200ms ease-out;
      z-index: 0;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);

      .navigation__menu__line {
        height: 1px;
        width: 100%;
        background-color: $navigationSecondaryBackground;
        display: block;
        opacity: 0;
        transition: opacity 200ms 150ms ease-out;
      }

      li {
        opacity: 0;
        transition: opacity 200ms 150ms ease-out;
        display: flex;
        flex-direction: column;
        font-size: 1em;

        a {
          padding: 14px 0;
          height: 100%;
          width: 100%;
          color: inherit;
          font-weight: 400;
          text-decoration: none;
          transition: opacity 150ms ease-out;
          -webkit-tap-highlight-color: transparent;
        }

        a:hover {
          opacity: 0.6;
        }
      }

      li:last-child {
        border: none;
      }
    }

    .navigation__menu.is-closing {
      transition: transform 250ms 200ms ease-in;

      li {
        transition: opacity 200ms 0 ease-out;
      }
    }

    .navigation__menu.visible {
      transform: translateY(0);

      .navigation__menu__line {
        opacity: 1;
      }

      li {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  $navigationBackground: #f4f4f4;

  #navigation {
    background-color: $navigationBackground;
    height: 60px;

    .navigation__inner {
      display: flex;
      justify-content: space-between;

      .navigation__bar {
        width: initial;
        background-color: initial;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;

        .hamburger {
          display: none;
        }
      }

      .navigation__menu {
        position: initial;
        padding: 0;
        padding-right: 30px;
        transform: initial;
        box-shadow: none;
        z-index: 1;
        display: flex;
        align-items: center;
        width: initial;
        background-color: $navigationBackground;

        li {
          opacity: 1;
          padding: 0;
          margin: 0 10px;
          font-size: 0.9em;

          a {
            padding: 0;
          }
        }

        .navigation__menu__line {
          display: none;
        }
      }
    }
  }
}
