@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

main {
  padding-top: 120px;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
}

p {
  color: #333333cc;
}

.button-1 {
  color: #2c73ee;
  text-decoration: none;
  font-size: 1em;
  -webkit-transition: -webkit-box-shadow 100ms ease-out;
  transition: -webkit-box-shadow 100ms ease-out;
  transition: box-shadow 100ms ease-out;
  transition: box-shadow 100ms ease-out, -webkit-box-shadow 100ms ease-out;
}

.button-1:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 2.4em;
  }
}

#navigation {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: #333;
}

#navigation .navigation__inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: auto;
}

#navigation .navigation__inner .navigation__label {
  padding: 0 12px;
  color: #333;
}

#navigation .navigation__inner .navigation__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
}

#navigation .navigation__inner .navigation__bar p {
  margin: 0;
}

#navigation .navigation__inner .navigation__bar .hamburger {
  height: 50px;
  width: 50px;
  padding: 12px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#navigation .navigation__inner .navigation__bar .hamburger .hamburger__line--top,
#navigation .navigation__inner .navigation__bar .hamburger .hamburger__line--bottom {
  position: absolute;
  left: 12px;
  height: 1px;
  width: 50%;
  background-color: #333;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

#navigation .navigation__inner .navigation__bar .hamburger .hamburger__line--top {
  top: 50%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#navigation .navigation__inner .navigation__bar .hamburger .hamburger__line--bottom {
  bottom: 50%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#navigation .navigation__inner .navigation__bar .hamburger.active .hamburger__line--top {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navigation .navigation__inner .navigation__bar .hamburger.active .hamburger__line--bottom {
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#navigation .navigation__inner .navigation__menu {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 30px;
  background-color: #ffffff;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  z-index: 0;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

#navigation .navigation__inner .navigation__menu .navigation__menu__line {
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 200ms 150ms ease-out;
  transition: opacity 200ms 150ms ease-out;
}

#navigation .navigation__inner .navigation__menu li {
  opacity: 0;
  -webkit-transition: opacity 200ms 150ms ease-out;
  transition: opacity 200ms 150ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
}

#navigation .navigation__inner .navigation__menu li a {
  padding: 14px 0;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
  -webkit-tap-highlight-color: transparent;
}

#navigation .navigation__inner .navigation__menu li a:hover {
  opacity: 0.6;
}

#navigation .navigation__inner .navigation__menu li:last-child {
  border: none;
}

#navigation .navigation__inner .navigation__menu.is-closing {
  -webkit-transition: -webkit-transform 250ms 200ms ease-in;
  transition: -webkit-transform 250ms 200ms ease-in;
  transition: transform 250ms 200ms ease-in;
  transition: transform 250ms 200ms ease-in, -webkit-transform 250ms 200ms ease-in;
}

#navigation .navigation__inner .navigation__menu.is-closing li {
  -webkit-transition: opacity 200ms 0 ease-out;
  transition: opacity 200ms 0 ease-out;
}

#navigation .navigation__inner .navigation__menu.visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#navigation .navigation__inner .navigation__menu.visible .navigation__menu__line {
  opacity: 1;
}

#navigation .navigation__inner .navigation__menu.visible li {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  #navigation {
    background-color: #f4f4f4;
    height: 60px;
  }
  #navigation .navigation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navigation .navigation__inner .navigation__bar {
    width: initial;
    background-color: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 20px;
  }
  #navigation .navigation__inner .navigation__bar .hamburger {
    display: none;
  }
  #navigation .navigation__inner .navigation__menu {
    position: initial;
    padding: 0;
    padding-right: 30px;
    -webkit-transform: initial;
            transform: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: initial;
    background-color: #f4f4f4;
  }
  #navigation .navigation__inner .navigation__menu li {
    opacity: 1;
    padding: 0;
    margin: 0 10px;
    font-size: 0.9em;
  }
  #navigation .navigation__inner .navigation__menu li a {
    padding: 0;
  }
  #navigation .navigation__inner .navigation__menu .navigation__menu__line {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */