@import '../../utils/variables';

a.button {
  padding: 8px 14px;
  border-radius: 4px;
  transition: background-color 200ms ease-out;
  text-decoration: none;
  position: relative;
  color: white;
  text-decoration: none;
  background-color: $primary-color;
  font-size: 0.9em;
}

a.button.button-secondary {
  color: $primary-color;
  background-color: $background-primary;
}

a.size-large {
  padding: 14px 30px;
  border-radius: 8px;
  font-weight: 500;
}

body.js-no-touch {
  a.button:hover {
    text-decoration: none;
    background-color: $primary-color-hover;
  }

  a.button.button-secondary:hover {
    background-color: $background-secondary;
  }
}
