.project-showcase {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-showcase .project-showcase__image-container {
  width: 100%;
  height: 54vw;
  max-height: 360px;
  max-width: 600px;
  overflow: hidden;
}

.project-showcase .project-showcase__image-container .project-showcase__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-showcase .project-showcase__content {
  width: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  color: inherit;
  text-decoration: none;
}

.project-showcase .project-showcase__content p,
.project-showcase .project-showcase__content h2 {
  margin: 0;
}

.project-showcase .project-showcase__content p {
  position: relative;
  bottom: -6px;
}

.project-showcase .project-showcase__content .project-showcase__line {
  position: absolute;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 1px;
  height: 60px;
  background-color: #333;
}

.project-showcase .project-showcase__content .project-showcase__underline {
  height: 2px;
  width: 0;
  background-color: #333;
  -webkit-transition: width 200ms ease-out;
  transition: width 200ms ease-out;
  display: block;
}

.project-showcase .project-showcase__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

body.js-no-touch .project-showcase {
  padding-bottom: 60px;
}

body.js-no-touch .project-showcase .project-showcase__link {
  display: none;
}

body.js-no-touch .project-showcase .project-showcase__content:hover + .project-showcase__image-container .project-showcase__image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body.js-no-touch .project-showcase .project-showcase__content:hover .project-showcase__underline {
  width: 100%;
}

body.js-no-touch .project-showcase .project-showcase__image-container:hover .project-showcase__image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 800px) {
  .project-showcase {
    margin-bottom: 60px;
  }
}

#other-projects {
  padding: 20px;
  background-color: #e9e9e9;
}

#other-projects .other-projects__inner {
  max-width: 600px;
  margin: auto;
}

#other-projects .github-project {
  width: 100%;
  padding: 10px 30px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#other-projects .github-project a {
  color: #2c73ee;
  text-decoration: none;
  margin: 0;
}

#other-projects .github-project a h3 {
  font-weight: 400;
  margin: 0;
}

#other-projects .github-project .github-project__description {
  margin: 0;
  margin-top: 10px;
  color: #333;
}

#other-projects .github-project .github-project__subjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#other-projects .github-project .github-project__subjects .github-project__subject {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  opacity: 0.8;
  margin: 14px 0 0 20px;
  border-radius: 200px;
}

body.js-no-touch #other-projects .github-project a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=projects.css.map */