.project-showcase-container {
  padding: 20px;
  padding-top: 140px;
}

.project-showcase-container .project-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.project-showcase-container .project-showcase .project-showcase__image-container {
  width: 100%;
  height: 54vw;
  max-height: 360px;
  overflow: hidden;
}

.project-showcase-container .project-showcase .project-showcase__image-container .project-showcase__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-showcase-container .project-showcase .project-showcase__content {
  max-width: 100%;
  margin: auto;
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  color: inherit;
  text-decoration: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.project-showcase-container .project-showcase .project-showcase__content p,
.project-showcase-container .project-showcase .project-showcase__content h2 {
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.project-showcase-container .project-showcase .project-showcase__content p {
  position: relative;
  bottom: -6px;
}

.project-showcase-container .project-showcase .project-showcase__content .project-showcase__line {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 1px;
  height: 60px;
  background-color: #333;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(100%) scaleY(1);
          transform: translateY(100%) scaleY(1);
  border-radius: 0;
}

.project-showcase-container .project-showcase .project-showcase__content .project-showcase__underline {
  height: 1px;
  width: 100%;
  background-color: #333;
  -webkit-transition: -webkit-transform 200ms 100ms ease-out;
  transition: -webkit-transform 200ms 100ms ease-out;
  transition: transform 200ms 100ms ease-out;
  transition: transform 200ms 100ms ease-out, -webkit-transform 200ms 100ms ease-out;
  -webkit-transform: translateY(3px) scaleX(0);
          transform: translateY(3px) scaleX(0);
  display: block;
}

.project-showcase-container .project-showcase .project-showcase__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

body.js-no-touch .project-showcase-container {
  padding-bottom: 60px;
}

body.js-no-touch .project-showcase-container .project-showcase__link {
  display: none;
}

body.js-no-touch .project-showcase-container .project-showcase:hover .project-showcase__image-container .project-showcase__image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body.js-no-touch .project-showcase-container .project-showcase:hover .project-showcase__content .project-showcase__underline {
  -webkit-transform: translateY(3px) scaleX(1);
          transform: translateY(3px) scaleX(1);
}

body.js-no-touch .project-showcase-container .project-showcase:hover .project-showcase__content .project-showcase__line {
  -webkit-transform: translateY(100%) scaleY(0);
          transform: translateY(100%) scaleY(0);
}

@media screen and (min-width: 800px) {
  .project-showcase-container {
    margin-bottom: 30px;
  }
}

#other-projects {
  padding: 60px 20px;
  padding-bottom: 100px;
  background-color: #e9e9e9;
}

#other-projects .other-projects__inner {
  max-width: 600px;
  margin: auto;
}

#other-projects .other-projects__inner > a {
  margin-left: 60px;
}

#other-projects .github-projects {
  margin-bottom: 30px;
}

#other-projects .github-project {
  width: 100%;
  padding: 10px 30px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#other-projects .github-project a {
  color: #1159d4;
  text-decoration: none;
  margin: 0;
}

#other-projects .github-project a h3 {
  margin: 0;
}

#other-projects .github-project .github-project__description {
  margin: 0;
  margin-top: 10px;
  color: #333;
}

#other-projects .github-project .github-project__subjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#other-projects .github-project .github-project__subjects .github-project__subject {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  opacity: 0.8;
  margin: 14px 0 0 20px;
  border-radius: 200px;
}

body.js-no-touch #other-projects .github-project a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=projects.css.map */